# Network & Chain
CHAIN_RPC_URL=http://localhost:8545
CHAIN_ID=31337
DEPLOYER_PRIVATE_KEY=

# AWS
AWS_PROFILE=web3-arch
AWS_REGION=ap-south-1
AWS_ACCOUNT_ID=

# Cognito
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=

# DynamoDB
DYNAMODB_TABLE_TRANSACTIONS=settlement-transactions
DYNAMODB_TABLE_ASSETS=tokenized-assets

# KMS
KMS_KEY_ARN=

# API
API_GATEWAY_URL=
